:root {
  --color-primary: #0D3618;
  --color-secondary: #01808c;
  --color-accent: #067100;
  --color-accent-2: #ffc5c9;
  --color-accent-3: #fb626b;
  --color-text: #575f6e;
  --color-text-2: #99a0b0;
}

html, body, div, span, ul, li, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  padding: 0;
  border: none;
  outline-offset: 0;
  outline: none;
}

html {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif !important;
  font-size: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scroll-behavior: smooth;
  transition: none;
  scrollbar-width: thin;
  scrollbar-color: var(--color-secondary) var(--color-primary);
}

html *, ::after, ::before {
  box-sizing: inherit;
  transition: all 0.5s ease 0s;
}

:root {
  --scroll-size: 10px;
}

::-webkit-scrollbar {
  width: var(--scroll-size);
  height: var(--scroll-size);
}

::-webkit-scrollbar-track {
  background: var(--color-primary);
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  box-shadow: inset 0px 0px 10px 2px rgba(255, 255, 255, 0.2);
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--color-accent);
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 100%;
  min-height: 100vh;
  transition: none;
  color: var(--color-primary);
  --scrollbar-width: calc(100vw - 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.content-container {
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

input, button {
  border: none;
  outline-offset: 0;
  outline: none;
}
input:active, input:focus, button:active, button:focus {
  transition: none;
  outline: 2px solid var(--color-accent) !important;
}

input:not([type=ckeckbox]),
input:not([type=radio]) {
  outline: 1px solid var(--color-secondary);
}

/*=== header ===*/
.header {
  background-color: var(--color-primary);
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  height: 40px;
  width: 40px;
  z-index: 99;
}
.header__button span, .header__button span::before, .header__button span::after {
  content: "";
  position: absolute;
  width: 36px;
  height: 5px;
  background-color: white;
  border-radius: 6px;
}
.header__button span::before {
  bottom: 14px;
}
.header__button span::after {
  top: 14px;
}
.header__button:hover {
  cursor: pointer;
}
.header__button:hover span, .header__button:hover span::before, .header__button:hover span::after {
  background-color: var(--color-accent);
}
.header__button.active span {
  background-color: transparent;
}
.header__button.active span::before {
  bottom: 0;
  transform: rotate(45deg);
}
.header__button.active span::after {
  top: 0;
  transform: rotate(-45deg);
}

/*=== End of header ===*/
/*=== menu ===*/ 
.menu {
  position: fixed;
  left: -100%;
  transform: translate3d(0px, 0px, 0px);
  background-color: #144020;
  height: 100%;
}
.menu li {
  width: 100%;
  border-bottom: 2px solid white;
}
.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 100%;
}
.menu.active {
  left: 0;
}

/*=== End of menu ===*/
.addus div {
  margin-top: 15px;
}
.addus label {
  font-weight: bolder;
}
.addus input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
}
.addus textarea {
  border: 1px solid #0D3618;
  resize: none;
  min-height: 53px;
  width: 100%;
}

.inputFile {
  margin-top: 5px;
}

.text-addUserMest {
  font-weight: bolder;
  font-size: 16px;
}

.buttonAddMest {
  display: block;
  background-color: #8a1212;
  width: 100%;
  height: 50px;
  margin: 20px auto;
  color: #fff;
  border-radius: 10px;
}

.addUserMest {
  margin-top: 23px;
  padding: 11px 16px;
}

.error {
  color: #ff0000;
  font-weight: bold;
}

.swiper-slide {
  background-color: #00A672;
}

.slide1-text-title {
  font-size: 18px;
}/*# sourceMappingURL=style.css.map */