/* input start  */

.search img{ 
    display: block;
    height: 25px;
    width: 34px;
    margin-top: 10px;
    user-select: none;
}

.search {  
    width: 687px;
    height: 49px;
    padding: 0px 25px;
    border: 1px solid white;
}

.search input { 
    width: 100%;
    padding: 25px;
    background: none;
    outline: none;
    color:#fff;
    font-size: 20px;
}

/* input end */

/* menu start */
.header-list {
    margin-top: 37px;
}

.menu li { 
    list-style-type: none;
    color:#fff;
    font-size: 18px;
}

.height { 
    height: 600px;
}

/* menu end */

/* buttons start */

.header-but {
    display: block;
    width: 264px;
    height: 70px; 
    line-height: 70px;
    text-align: center;
    color:#fff;
    border:2px solid #fff;
}
.header-but:hover{
    background-color: #fff;
    color:#000;
}
.header-title h1{ 
    color:#fff;
    font-weight: bolder;
    font-size: 3vh;
    max-width: 800px;
}
.header-buttons { 
    max-width: 600px;
}
/* buttons end */